:root {
    --Red: hsl(1, 90%, 64%);
    --Blue: hsl(219, 85%, 26%);
    --White: hsl(0, 0%, 100%);
    --Very-light-grayish-blue: hsl(210, 60%, 98%);
    --Light-grayish-blue-1: hsl(211, 68%, 94%);
    --Light-grayish-blue-2: hsl(205, 33%, 90%);
    --Grayish-blue: hsl(219, 14%, 63%);
    --Dark-grayish-blue: hsl(219, 12%, 42%);
    --Very-dark-blue: hsl(224, 21%, 14%);
}

body {
    margin: 0px;
    font-family: "Plus Jakarta Sans";
    background-color: var(--Very-light-grayish-blue);
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.container {
    width: 650px;
    max-width: 100%;
    margin: 0 auto;
    border: 1px black solid;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    border: none;
    background-color: var(--White);
}

.top-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.left-top {
    display: flex;
    align-items: center;
}

    .left-top div {
        border: 1px black solid;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 3px;
        border-radius: 5px;
        background-color: var(--Blue);
        color: var(--White);
        align-items: center;
        margin-left: 10px;
    }

.to-be-read {
    font-weight: 800;
}

.right-top p {
    font-weight: 800;
    color: var(--Dark-grayish-blue);
    cursor: pointer;
}

.information {
    margin-left: 20px;
}

.messages > * {
    margin-bottom: 10px;
}

.unread-message img,
.read-message img {
    width: 50px;
}

.unread-message img {
    margin-left: 20px;
}

.read-message img {
    margin-top: 1rem;
}

.unread-message,
.top-information {
    display: flex;
    align-items: center;
}

.unread-message {
    border: 1px black solid;
    border-radius: 10px;
    border: none;
    width: 100%;
    max-width: 100%;
    background-color: var(--Light-grayish-blue-1);
    cursor: pointer;
}

.read-message {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    align-items: flex-start;
}

    .read-message article {
        border: 1px rgb(184, 184, 184) solid;
        border-radius: 5px;
        color: var(--Dark-grayish-blue);
        font-weight: 500;
        font-size: 0.9rem;
        padding: 15px;
        cursor: pointer;
        transition: all 0.15s ease;
        width: 490px;
        max-width: 100%;
    }

.comment-image {
    cursor: pointer;
    justify-content: end;
}

.read-message article:hover {
    background-color: var(--Light-grayish-blue-2);
}

.dot {
    height: 8px;
    width: 8px;
    background-color: var(--Red);
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
    align-items: flex-end;
}

.time {
    margin-top: -10px;
    font-weight: 500;
    color: var(--Dark-grayish-blue);
}

span,
c {
    font-weight: 800;
    cursor: pointer;
    transition: all 0.15s ease;
}

c {
    color: var(--Dark-grayish-blue);
}



    span:hover,
    c:hover {
        color: var(--Blue);
    }

.kimberly {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

@media screen and (max-width: 475px) {
    .read-message article {
        width: 90%;
    }

    h1 {
        font-size: 1.3rem;
    }

    #mark-as-read {
        font-size: 0.8rem;
    }

    p:not(#mark-as-read) {
        width: 80%;
    }

    .unread-message {
        align-items: flex-start;
    }

        .unread-message img {
            margin-top: 20px;
        }
}

@media screen and (min-width: 1440px) {
    .container {
        max-width: 100%;
    }
}
